<div>
  <!-- <% if(currentUser) { %> -->
  <!-- Split button -->
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default">操作</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="/posts/create">新建</a>
      </li>
    </ul>
  </div>
  <!-- <% } %> -->
  <!--放错位置放在整段代码下面，首页就不能显示了-->
  <div class="col-md-10 col-md-offset-1 nav">文章列表</div>
  <div class="col-md-10 col-md-offset-1">
    <ul class="list-group" v-for="item in postsList">
      <li class="list-group-item">
        <a v-bind:href="item.url">{{ item.title }}</a>
      </li>
    </ul>
    <!-- <p v-for="item in postsList">{{ item.title }}</p> -->
  </div>
</div>


<script>
  var vm = new Vue({
    el: '#app',
    data: {
      postsList: []
    },
    methods: {
      fetchData() {
        console.log('i am here')
        axios.get('/api/v1/posts')
          .then(function (response) {
            return response.data;
          })
          .then(function (data) {
            vm.postsList = data.postsList;
            vm.postsList.forEach((element) => element.url = '/posts/show?id=' + element._id);
          })
          .catch(function (err) {
            alert(err);
          })
      }
    }
  });

  /*   methods: {
      fetchData () {
        axios.get('/api/posts')
          .then(function(response) {
            vm.postsList = response.data.postsList;
          })
      }
    }
  });*/

  vm.fetchData(); 
</script>