body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* color: red; */
  /* background: #E6CCA6 url(/images/bg.png); */
  /* background-color:rgba(0,0,0,0.2); IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
}

/* a {
  color: red;
} */

.nav {
  background: lightgray;
  height: 40px;
  line-height: 40px;
  left: 15px;
  padding-left: 15px;
  margin-bottom: 15px;
}
